{% extends 'main/layoute.html' %}

{% block title %}
    <title>Первая страница на Django</title>
{% endblock %}

{% block content %}

<h1>Создание первого сайта на {{caption}}</h1>
— это увлекательный и познавательный процесс. {{caption}} — это мощный веб-фреймворк на языке Python, который позволяет быстро и эффективно разрабатывать веб-приложения. Начнем с установки Django и создания нового проекта. После установки Python и настройки виртуального окружения, команда `django-admin startproject mysite` создаст структуру проекта.</h3>

<h4>Первым шагом будет настройка файла `settings.py`,</h4>
где можно указать параметры базы данных, язык, временную зону и другие настройки. Далее, создадим первое приложение с помощью команды `python manage.py startapp blog`. Это приложение станет основой нашего сайта.

<p>Внутри приложения создадим модели в `models.py`, которые будут определять структуру данных.</p>
Например, можно создать модель для хранения статей блога с полями для заголовка, текста и даты публикации. После этого выполним миграции, чтобы применить изменения к базе данных.

<h5>Затем создадим представления (views) в файле `views.py`. Представления будут обрабатывать запросы и возвращать ответы. Например, мы можем создать представление, которое будет отображать список всех статей.</h5>

Далее, создадим шаблоны (templates), которые определяют, как будет выглядеть наш сайт. Шаблоны хранятся в папке `templates` и могут включать HTML, CSS и JavaScript.

После настройки маршрутизации в файле `urls.py`, можно запустить сервер разработки командой `python manage.py runserver` и увидеть наш сайт в действии. Это будет началом большого и интересного пути в мире веб-разработки с {{caption}}.

{% endblock %}

